@import "mixin";

#payment-1-parent{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
}

#payment-1-parent>div:nth-child(1){
    @include common-header-payment-style;
}

#payment-1-parent>div:nth-child(1)>div:nth-child(1){
    margin: 0 3% 0 3%;
}

#payment-1-parent>div:nth-child(2){
    display: flex;
    height:10vh;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(211, 211, 211);
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
    background-color: white;
}

#payment-1-parent>div:nth-child(3){
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
    padding: 5%;
}

#payment-1-parent>div:nth-child(4){
    width: 100vw;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
}

#payment-1-parent>div:nth-child(4)>div:nth-child(1){
    margin: 0 6% 0 3%; 

}

#payment-1-parent>div:nth-child(4)>div:nth-child(2){
    margin: 0 50% 0 0; 
    font-size: 18px;
}

#payment-1-parent>div:nth-child(4)>div:nth-child(2)>a{
    text-decoration: none;
    color: #149F64;
}

#payment-1-parent>div:nth-child(4)>div:nth-child(3){
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid rgb(71, 71, 71);
}

#payment-1-parent>div:nth-child(5){
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
    padding: 5%;
}

#payment-1-parent>div:nth-child(6){
    width: 100vw;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #149F64;
}

#payment-1-parent>div:nth-child(6)>div:nth-child(2)>a{
    color: #149F64;
    text-decoration: none;
    
}

#payment-1-parent>div:nth-child(6)>div:nth-child(1){
    margin-left: 3%; 
    
}

#payment-1-parent>div:nth-child(6)>div:nth-child(1)>img{
    width: 50%;
}

#payment-1-parent>div:nth-child(6)>div:nth-child(2){
    margin-left: -3%; 
    width: 50vw;
}

#payment-1-parent>div:nth-child(6)>div:nth-child(2)>div{
    margin-left: -5%; 
    width: 100%;
    font-size: 20px;
}

#payment-1-parent>div:nth-child(6)>div:nth-child(2)>div>img{
    margin-left: 5%; 
    margin-top: 5%;
}

#payment-1-parent>div:nth-child(7){
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
    padding: 5%;
}

#payment-1-parent>div:nth-child(8){
    width: 100vw;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #149F64;
}

#payment-1-parent>div:nth-child(8)>div:nth-child(1){
    margin-left: 3%; 
}

#payment-1-parent>div:nth-child(8)>div:nth-child(1)>img{
    width: 50%;
}

#payment-1-parent>div:nth-child(8)>div:nth-child(2){
    margin-left: -3%; 
    width: 50vw;
}

#payment-1-parent>div:nth-child(8)>div:nth-child(2)>div{
    margin-left: -5%; 
    width: 100%;
    font-size: 20px;
}

#payment-1-parent>div:nth-child(8)>div:nth-child(2)>div>img{
    margin-left: 5%; 
    margin-top: 5%;
}

#payment-1-parent>div:nth-child(9){
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
    padding: 5%;
}

#payment-1-parent>div:nth-child(10){
    width: 100vw;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212529;
}