#arrow{
    width: 5%;
    margin: 10%;
    margin-left: 3%;
}

#text-confirm{
    text-align: center;
    width: 80vw;
    margin:20% auto
}

#btn-email{
    width: 90vw;
    margin: 10% auto 5% auto;

}

#btn-email>button{
    width: 100%;
    height: 6vh;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    color: grey;
    font-weight: 600;
}

#timer-manually{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#timer-manually>div:nth-child(1){
   margin-left: 5%;
}

#timer-manually>div:nth-child(2){
    margin-right: 5%;
}
#timer-manually>div:nth-child(2)>a{
    text-decoration: none;
    color: grey;
}

#trouble{
    width: 100vw;
    text-align: center;
    align-items: flex-end;
    margin-top: 100%;
}