#back-img{
    position: absolute;
width: 415px;
height: 736px;
left: -1px;
top: 0px;
}

#rect{
    position: absolute;
left: 0.24%;
right: 0%;
top: 53.79%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.05);
border-radius: 12px 12px 0px 0px;

}

#chat-1{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 20px;

position: absolute;
left: 3.86%;
right: 7.23%;
top: 43.75%;
bottom: 50.11%;

background: #FFFFFF;
border-radius: 14px 14px 14px 0px;
justify-content: center;
}


#chat-text{
    
padding: 0px;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;



color: #060608;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

#btn{
    position: absolute;
    height: 130px;
    width: 239px;
    left: 35.66%;
    right: -53.25%;
    top: 26.85%;
bottom: 19.64%;

background: #F6F6F7;
border-radius: 14px 14px 14px 0px;
transform: matrix(1, 0, 0, 1, 0, 0);
}

#mbtn{
    position: absolute;
left: 6.69%;
right: 62.34%;
top: 44.62%;
bottom: 21.54%;

background: #FFFFFF;
border-radius: 30px;
width:74px; 
height:44px;
}

#msign{
    position: absolute;
left: 37.99%;
right: 75.31%;
top:44.46%;
bottom: 38.46%;

border: 2px solid #000000;
width: 14px;

}

#pbtn{
    position: absolute;
left: 63.98%;
right: 8.19%;
top: 44.32%;
bottom: 22.77%;

background: #FFFFFF;
border-radius: 30px;
width:74px; 
height:44px;
}

#psign{
    position: absolute;
left: 25%;
right: 25%;
top: -16%;
bottom: 25%;
font-weight: bolder;
font-size: 36px;


}

#num{
    position: absolute;
width: 19px;
height: 43px;
left: 111px;
top: 58px;

font-family: DM Sans;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 43px;
}

#ppl{
    position: absolute;
left: 37.45%;
right: 37.45%;
top: -3%;
bottom: 68.46%;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
/* identical to box height */


color: #060608;
}

#next{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 22px 20px;

position: absolute;
left: 25.78%;
right: 43.86%;
top: 74.83%;
bottom: 9.92%;

background: #F0F4F3;
border-radius: 58px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
}

#skip{
    position: absolute;
left: 64.34%;
right: 25.78%;
top: 79.73%;
bottom: 8.37%;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */

letter-spacing: -0.32px;

/* Gray - 900 */

color: #212529;
}

#emission{
    position: absolute;
    left: 37.44%;
    right: 35.75%;
    top: 12.39%;
    bottom: 79.91%;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 53.2836px;
    line-height: 69px;
    
    color: #131313;
}

#ton{
    position: absolute;
left: 35.75%;
right: 35.57%;
top: 20.2%;
bottom: 76.23%;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24.3582px;
line-height: 32px;
/* identical to box height */

letter-spacing: -0.487164px;

color: #131313;
}

#que{
    position: absolute;
    left: 5.16%;
    right: 39.28%;
    top: 5.48%;
    bottom: 40.18%;
}

#arr{
    position: absolute;
left: 3.62%;
right: 87.92%;
top: -105.64%;
bottom: 89.73%;
}

#next1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 22px 20px;

position: absolute;
left: 59.06%;
right: 7.58%;
top: 72.83%;
bottom: 12.92%;

background: #149F65;
border-radius: 58px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
}

#skip1{
    position: absolute;
left: 35.58%;
right: 63.13%;
top: 77.83%;
bottom: 8.15%;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */

letter-spacing: -0.32px;

/* Gray - 900 */

color: #212529;
}