.country-with-flag {
    width: 382px;
    height: 66px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 50px;
    background-color: white;
    align-items: center;
    margin-left: 15px;
    border-radius: 12px;
    background-color: #f2f2f4;
  }
  .flag-img {
    width: 37px;
    height: 34px;
    margin-left: 25px;
  }
  .options-country > select {
    border: none;
    margin-right: 14px;
    font-size: 20px;
    font-weight: 700;
    font-family: DM sans-serif;
    line-height: 26px;
    letter-spacing: -0.32px;
    color: #000000;
    background-color: transparent;
    outline: none;
  }
  