#getStarted{
    position: absolute;
    left: 9.42%;
    right: 9.66%;
    top: 68.75%;
    bottom: 23.88%;
    border-radius: 12px;
}

#ecogen{
    position: absolute;
    width: 220px;
    height: 47px;
    left: 97px;
    top: 369px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 6px;

    color: #149F65;

}

#p1{
    position: absolute;
width: 270px;
height: 20px;
left: 72px;
top: 752px;

font-family: "DM Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: 0.25px;

color: #6C757D;

}

#p2{
    position: absolute;
width: 217px;
height: 22px;
left: 98px;
top: 842px;

font-family: "DM Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.4px;

/* Gray - 700 */

color: #495057;


}

#ecogenic3{
position: absolute;
width: 75.85px;
height: 82px;
left: 169px;
top: 275px;
}