.wrapper {
  position: relative;
  width: 414px;
  /* height: 695px; */

  background: #ffffff;
}
.topContiner {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 30%;
}
.img1 {
  width: 240.75px;
  height: 240.75px;
}

.heading {
  /* width: 310px; */
  height: 32px;
  margin-top: 120px;
  /* border: 1px solid black; */
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}
.para {
  width: 382px;
  height: 48px;
  margin-top: 2px;
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;

  /* Gray - 700 */

  color: #495057;
}

.dots {
  margin-top: 40px;
}

.bottomContiner {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skip {
  /* position: absolute;
  left: 7.49%;
  right: 82.13%;
  top: 90.51%;
  bottom: 7.7%; */
  margin-left: 38px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  /* Gray - 700 */

  color: #495057;
}
.Arrow {
  /* position: absolute;
  width: 50.26px;
  height: 50px;
  left: 328px;
  top: 810px; */
  margin-right: 38px;
}
