#load{
    position: absolute;
    width: 438.96px;
    height: 433px;
    left: -10px;
    top: 175px;
}

#load1{
    position: absolute;
    width: 160.96px;
    height: 174px;
    left: 127px;
    top: 361px;
}