#getStarted{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 6px 8px;
    
    position: absolute;
    width: 334px;
    height: 56px;
    left: 40px;
    top: 636px;
    
    /* Green - 900 - Primary */
    
    background: #149F65;
    border-radius: 4px;
}

#ecogen{
    position: absolute;
width: 231.89px;
height: 30px;
left: 91px;
top: 305px;

}

#p1{
    position: absolute;
    width: 270px;
    height: 20px;
    left: 72px;
    top: 752px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    
    letter-spacing: 0.25px;
    
    color: #6C757D;
}

#p2{
    position: absolute;
width: 217px;
height: 22px;
left: 99px;
top: 842px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.4px;

/* Gray - 700 */

color: #495057;

}